body{
    background-color: #111D4A;
    color: #ADB9EB;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

strong, em {
    color: #7C90DF;
}

.links{
    color: white;
}

.proud{
    font-size: 20px;
}
.otherskills{
    font-size: 18px;
}

#about{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#paulopic {
    border-radius: 5px 50px;
}